<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EcoClima</title>
  <link rel="stylesheet" type="text/css" href="views/static/css/landing.css">
</head>
<body>
  <header>
    <h1>Bienvenido a <span class="highlight">EcoClima</span></h1>
  </header>
  <main class="wrapper">
    <section class="intro">
      <p>
        Supervisa los fenómenos relacionados con el cambio climático de manera continua, sin importar tu ubicación o el momento del día.
      </p>
      <p>
        Accede a un completo conjunto de estadísticas ambientales que incluyen datos precisos sobre temperatura, niveles de humedad, presión atmosférica y otros indicadores relevantes para un análisis exhaustivo.
      </p>
    </section>
    <section class="cta">
      <a href="./panel" class="button">Click Aquí</a>
    </section>
  </main>
  <footer>
    <p>Diseñado y construido por <strong>Sebastian Nicolas Choque Jarpa</strong>.</p>
    <div class="social-links">
      <a href="https://github.com/ChoqueIV" target="_blank" class="github">
        <img src="https://cdn-icons-png.flaticon.com/512/733/733553.png" alt="GitHub" class="icon">
        ChoqueIV
      </a>
      <a href="https://gitlab.com/sebachoque03" target="_blank" class="gitlab">
        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968853.png" alt="GitLab" class="icon">
        Sebastian Choque
      </a>
    </div>
  </footer>
</body>
</html>
