<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Panel</title>
	<link rel="stylesheet" type="text/css" href="views/static/css/panel.css">
</head>
<body>
	<h1>ESTACIONES</h1>
	<main>
		
	</main>
	<footer>
	    <p>Diseñado y construido por <strong>Sebastian Nicolas Choque Jarpa</strong>.</p>
	    <div class="social-links">
	      <a href="https://github.com/ChoqueIV" target="_blank" class="github">
	        <img src="https://cdn-icons-png.flaticon.com/512/733/733553.png" alt="GitHub" class="icon">
	        ChoqueIV
	      </a>
	      <a href="https://gitlab.com/sebachoque03" target="_blank" class="gitlab">
	        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968853.png" alt="GitLab" class="icon">
	        Sebastian Choque
	      </a>
	    </div>
	  </footer>

	<script type="text/javascript" src="views/static/js/panel.js"></script>
</body>
</html>