<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Panel</title>
	<link rel="stylesheet" type="text/css" href="views/static/css/panel.css">
</head>
<body>
	<header>
		<nav class="navbar">
			<div class="logo">
				<h1>EcoClima</h1>
			</div>
			<ul class="nav-links">
				<li><a href="./login">Login</a></li>
				<li><a href="./register">Registro</a></li>
				<li><a href="./panel">Panel</a></li>
			</ul>
		</nav>
	</header>
	
	<h1 class="titulo">ESTACIONES</h1>
	<main>
		<!-- Aquí van las estaciones cargadas por JavaScript -->
	</main>

	<footer>
	    <p>Diseñado y construido por <strong>Sebastian Nicolas Choque Jarpa</strong>.</p>
	    <div class="social-links">
	      <a href="https://github.com/ChoqueIV" target="_blank" class="github">
	        <img src="https://cdn-icons-png.flaticon.com/512/733/733553.png" alt="GitHub" class="icon">
	        ChoqueIV
	      </a>
	      <a href="https://gitlab.com/sebachoque03" target="_blank" class="gitlab">
	        <img src="https://cdn-icons-png.flaticon.com/512/5968/5968853.png" alt="GitLab" class="icon">
	        Sebastian Choque
	      </a>
	    </div>
	</footer>

	<script type="text/javascript" src="views/static/js/panel.js"></script>
</body>
</html>
