<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>
<body>
    <div class="container">
        <h1>Recuperar Contraseña</h1>
        <form method="post" action="recovery">
            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" id="username" name="username" required placeholder="Ingresa tu usuario">
            </div>
            <button name="btn-recovery" type="submit" class="btn">Enviar Solicitud</button>
            <p class="error-message" id="error-message">
            	{{MSG_RECOVERY_ERROR}}
            </p>
        </form>

        <p>¿No tienes cuenta? <a href="register.html">Regístrate aquí</a></p>
    </div>

</body>
</html>
